@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Century Gothic";
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(255, 254, 254);
}

.drag-area, .container {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container h3 {
  font-size: 35px;
  padding: 10px;
  color: black;
}

.drag-area {
  border: 2px dashed black;
  height: 500px;
  width: 620px;
  border-radius: 5px;
  padding: 2px;
}

.drag-area.active {
  border: 2px solid black;
}

.drag-area .icon {
  font-size: 60px;
  color: black;
}

.drag-area header {
  font-size: 25px;
  font-weight: 500;
  color: black;
}

.drag-area span {
  font-size: 20px;
  font-weight: 500;
  color: black;
  margin: 10px 0 15px 0;
}

#btnSubmit,
#rmv-img-btn, 
#browse_btn, #btnNew {
  width: 250px;
  padding: 10px;
  font-size: 15px;
  height: 40px;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.drag-area {
  padding:5px;
  margin:10px;
  object-fit: contain;
  border-radius: 5px;
}

.imageDiv {
 max-height:495px;
 max-width: 600px;
}

.caption-area {
  font-size: 20px;
  font-weight: 600;
  color: black;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 0px;
}

#rmv-img-btn {
  display: none;
  margin: 10px;
}

#caption {
  color: black;
  margin-top: 5px;
}

#caption-heading {
  display: none;
}

 #loader {
    margin: auto;
    display: none;
    border: 5px solid rgb(216, 215, 215);
    border-top: 5px solid rgb(7, 113, 120); 
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }